In [ ]:
import pandas as pd

In [ ]:
datos_viajes = pd.read_csv("/content/drive/MyDrive/Base de Datos.csv" , sep = ";")

In [ ]:
datos_viajes.head(50)

,Nombre,Apellido,Destino,Sexo,Hotel,Transporte,Valor Destino,Descuento
0,Marcela,Agudelo,Cartagena,Femenino,Decameron,Aereo,$ 1.400.000,$ 210.000
1,Andrea,Mebarak,Cartagena,Femenino,Decameron,Aereo,$ 1.350.000,$ 202.500
2,Ricardo,Mebarak,Santa Marta,Masculino,Hilton,Aereo,$ 1.000.000,$ 150.000
3,Mónica,Bisbal,Amazonas,Femenino,La Selva,Aereo,$ 1.800.000,$ 270.000
4,Laura,Bisbal,Eje Cafetero,Femenino,Las Orquideas,Aereo,$ 1.520.000,$ 228.000
5,Juan,Agudelo,Amazonas,Masculino,El delfin rosado,Aereo,$ 1.600.000,$ 240.000
6,David,López,San Andrés,Masculino,Mar Azul,Aereo,$ 1.600.000,$ 240.000
7,David,López,Eje Cafetero,Masculino,Finca Calarca,Terrestre,$ 950.000,$ 76.000
8,David,Henao,San Andrés,Masculino,Toné,Aereo,$ 900.000,$ 135.000
9,Angela,López,Nuqui,Femenino,Las Ballenas,Aereo,$ 1.100.000,$ 165.000
10,Veronica,Henao,San Andrés,Femenino,Mar Azul,Aereo,$ 1.200.000,$ 180.000
11,Luisa,Pérez,Eje Cafetero,Femenino,Las Orquideas,Aereo,$ 1.550.000,$ 232.500
12,Laura,Curiel,Santa Marta,Femenino,Hilton,Aereo,$ 950.000,$ 142.500
13,Jorge,Valencia,Nuqui,Masculino,Sol y Mar,Aereo,$ 850.000,$ 127.500
14,David,Bisbal,Cartagena,Masculino,Costa del Sol,Terrestre,$ 750.000,$ 60.000
15,David,Agudelo,Nuqui,Masculino,Las Ballenas,Aereo,$ 1.000.000,$ 150.000
16,Carlos,Bisbal,Nuqui,Masculino,Sol y Mar,Aereo,$ 950.000,$ 142.500
17,Bibiana,Pérez,Eje Cafetero,Femenino,Finca Calarca,Terrestre,$ 600.000,$ 48.000
18,Bibiana,Bisbal,San Andrés,Femenino,Mar Azul,Aereo,$ 1.000.000,$ 150.000
19,Alberto,Montoya,Eje Cafetero,Masculino,Las Orquideas,Aereo,$ 1.350.000,$ 202.500
20,Ricardo,Montoya,San Andrés,Masculino,Toné,Aereo,$ 950.000,$ 142.500
21,Pedro,Montoya,Cartagena,Masculino,Costa del Sol,Terrestre,$ 800.000,$ 64.000
22,Melissa,Tejada,Cartagena,Femenino,Decameron,Aereo,$ 1.652.000,$ 247.800
23,Melissa,Bisbal,Santa Marta,Femenino,Sol Caribe,Terrestre,$ 650.000,$ 52.000
24,Melissa,Aristizabal,San Andrés,Femenino,Toné,Aereo,$ 850.000,$ 127.500
25,Mario,Pérez,San Andrés,Masculino,Decameron,Aereo,$ 900.000,$ 135.000
26,María,López,Cartagena,Femenino,Decameron,Aereo,$ 1.200.000,$ 180.000
27,Laura,Tejada,Eje Cafetero,Femenino,Las Orquideas,Aereo,$ 1.000.000,$ 150.000
28,Juan,Pérez,Santa Marta,Masculino,Sol Caribe,Terrestre,$ 600.000,$ 48.000
29,Juan,Montoya,San Andrés,Masculino,Decameron,Aereo,$ 900.000,$ 135.000
30,Juan,Bisbal,San Andrés,Masculino,Mar Azul,Aereo,$ 1.200.000,$ 180.000
31,David,Montoya,Amazonas,Masculino,La Selva,Aereo,$ 1.800.000,$ 270.000
32,David,López,Cartagena,Masculino,Costa del Sol,Terrestre,$ 650.000,$ 52.000
33,David,Agudelo,Santa Marta,Masculino,Sol Caribe,Terrestre,$ 750.000,$ 60.000
34,Daniela,Valencia,Eje Cafetero,Femenino,Finca Calarca,Terrestre,$ 500.000,$ 40.000
35,Daniela,Montoya,San Andrés,Femenino,Toné,Aereo,$ 1.500.000,$ 225.000
36,Carlos,Henao,Santa Marta,Masculino,Hilton,Aereo,$ 850.000,$ 127.500
37,Bibiana,Moreno,Amazonas,Femenino,El delfin rosado,Terrestre,$ 800.000,$ 64.000
38,Andrés,Bisbal,San Andrés,Masculino,Mar Azul,Aereo,$ 1.000.000,$ 150.000
39,Alberto,Plaza,Santa Marta,Masculino,Hilton,Aereo,$ 1.200.000,$ 180.000
40,Shakira,Mebarak,Amazonas,Femenino,El delfin rosado,Terrestre,$ 600.000,$ 48.000
41,Pedro,Pérez,Santa Marta,Masculino,Hilton,Terrestre,$ 800.000,$ 64.000
42,María,Aristizabal,Cartagena,Femenino,Costa del Sol,Terrestre,$ 550.000,$ 44.000
43,Laura,Mebarak,Amazonas,Femenino,La Selva,Aereo,$ 1.500.000,$ 225.000
44,David,Montoya,San Andrés,Masculino,Decameron,Aereo,$ 1.500.000,$ 225.000
45,David,Bisbal,San Andrés,Masculino,Toné,Aereo,$ 1.050.000,$ 157.500
46,Claudia,Lopera,Nuqui,Femenino,Sol y Mar,Aereo,$ 1.200.000,$ 180.000
47,Esteban,Aristizabal,San Andrés,Masculino,Mar Azul,Aereo,$ 1.000.000,$ 150.000
48,David,Civera,San Andrés,Masculino,Decameron,Aereo,$ 1.500.000,$ 225.000
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sel_destino = datos_viajes ["Destino"] == "Amazonas"
cant_dst = datos_viajes [sel_destino].shape [0]
cant_dst

6

In [ ]:
sel_destino = datos_viajes ["Destino"] == "Amazonas"
cant_otros_dst = datos_viajes [~sel_destino].shape [0]
cant_otros_dst

130

In [ ]:
sel_cart_nuqui_amazonas = (datos_viajes ["Destino"] == " Cartagena") | (datos_viajes ["Destino"] == "Nuqui") | (datos_viajes ["Destino"] == "Amazonas")
sel_cart_nuqui_amazonas = datos_viajes[sel_cart_nuqui_amazonas].shape[0]
sel_cart_nuqui_amazonas

11

In [ ]:
sel_precio_dest = (datos_viajes ['Descuento'] == 100000) & (datos_viajes ['Descuento'] == 500000)
cant_dest_precio = datos_viajes[sel_precio_dest].shape[0]
cant_dest_precio

0

In [ ]:
sel_lugar_destino = (datos_viajes ['Destino'] == "Amazonas") & (datos_viajes ['Apellido'] == "Agudelo")
cant_lugar_destino = datos_viajes[sel_lugar_destino].shape[0]
cant_lugar_destino

1

In [42]:
print ("Se encontraron los siguientes resultados: ")
print (f"El numero de destinos a Amazonas es de {sel_destino}")
print (f"El numero de destinos restantes es de {cant_otros_dst}")
print (f"El numero de viajes con destino Cartagena, Nuqui; AMazonas es de {sel_cart_nuqui_amazonas}")
print (f"La cantidad de destinos con descuentos iguales a $100000 y $500000 son {sel_precio_dest}")
print (f"La cantidad de destinos a AMazons con Apellidos Agudelo es de  {sel_lugar_destino}")

Se encontraron los siguientes resultados:
El numero de destinos restantes es de 130
El numero de viajes con destino Cartagena, Nuqui; AMazonas es de 11
La cantidad de destinos con descuentos iguales a $100000 y $500000 son 0      False
1      False
2      False
3      False
4      False
       ...
131    False
132    False
133    False
134    False
135    False
Name: Descuento, Length: 136, dtype: bool
La cantidad de destinos a AMazons con Apellidos Agudelo es de  0      False
1      False
2      False
3      False
4      False
       ...
131    False
132    False
133    False
134    False
135    False
Length: 136, dtype: bool

In [43]:
datos_viajes.isnull()

,Nombre,Apellido,Destino,Sexo,Hotel,Transporte,Valor Destino,Descuento
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
131,True,True,True,True,True,True,True,True
132,True,True,True,True,True,True,True,True
133,True,True,True,True,True,True,True,True
134,True,True,True,True,True,True,True,True
135,True,True,True,True,True,True,True,True

In [44]:
datos_viajes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nombre         49 non-null     object
 1   Apellido       49 non-null     object
 2   Destino        49 non-null     object
 3   Sexo           49 non-null     object
 4   Hotel          49 non-null     object
 5   Transporte     49 non-null     object
 6   Valor Destino  49 non-null     object
 7   Descuento      49 non-null     object
dtypes: object(8)
memory usage: 8.6+ KB

In [45]:
datos_viajes[datos_viajes ['Nombre'].isnull()]

    Nombre Apellido Destino Sexo Hotel Transporte Valor Destino Descuento
49     NaN      NaN     NaN  NaN   NaN        NaN           NaN       NaN
50     NaN      NaN     NaN  NaN   NaN        NaN           NaN       NaN
51     NaN      NaN     NaN  NaN   NaN        NaN           NaN       NaN
52     NaN      NaN     NaN  NaN   NaN        NaN           NaN       NaN
53     NaN      NaN     NaN  NaN   NaN        NaN           NaN       NaN
..     ...      ...     ...  ...   ...        ...           ...       ...
131    NaN      NaN     NaN  NaN   NaN        NaN           NaN       NaN
132    NaN      NaN     NaN  NaN   NaN        NaN           NaN       NaN
133    NaN      NaN     NaN  NaN   NaN        NaN           NaN       NaN
134    NaN      NaN     NaN  NaN   NaN        NaN           NaN       NaN
135    NaN      NaN     NaN  NaN   NaN        NaN           NaN       NaN

[87 rows x 8 columns]

In [46]:
destino_nan = datos_viajes.shape[0]
datos_viajes.dropna(subset=['Nombre'], inplace=True)
destino_nan_b = datos_viajes.shape[0]
destino_nan - destino_nan_b

87

In [47]:
datos_viajes[datos_viajes ['Nombre'].isnull()]

Empty DataFrame
Columns: [Nombre, Apellido, Destino, Sexo, Hotel, Transporte, Valor Destino, Descuento]
Index: []

In [48]:
datos_viajes[datos_viajes ['Apellido'].isnull()].shape[0]

0

In [53]:
sel = (datos_viajes['Destino'] == 'Nuqui') & (datos_viajes ['Sexo'].isnull())

In [54]:
sel_A = datos_viajes.shape[0]
datos_destinos = datos_viajes [~sel]
sel_B = datos_destinos.shape[0]
sel_A - sel_B

0

# Trabajo Momento 3 Nuevas Tecnologias